/*************** header ***************/

@use "base/variables" as v;
@use "base/mixins" as m;
@use "components/skill-bar";
@use "components/skill-bar-list";
@use "effects";

.skills {
  margin: 1.5rem 1.7rem 1.5rem 1rem;
  box-shadow: v.$box-shadow-light-mode;
  border-radius: 1.2rem;
  padding: 3.5rem 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include m.tablet {
    margin: 1.5rem 5.6rem 1.5rem 5.2rem;
  }
  @include m.desktop {
    margin: 1.5rem 5.6rem 1.5rem 5.2rem;
    padding: 6rem 5rem;
  }

  .skills-title {
    body.dark & {
      /* dark mode */
      /* color: v.$white; */
      @extend .neon-letters; /* delete if not fine to the eye */
    }
    @include m.desktop {
      font-size: 3.6rem;
    }
    @include m.desktopXL {
      font-size: 4.8rem;
    }
  }

  .skill-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      margin: 2rem 0;
      @include m.desktop {
        font-size: 2.4rem;
      }
    }
    .frontend,
    .backend,
    .management-tools,
    .work-tools,
    .preferred-stack,
    .others,
    .languages {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
       ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 0.5rem;
        }
       }
    }
    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, minmax(0, 1fr));
      gap: 2rem;

      .frontend {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
      .backend {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      .preferred-stack {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
      .others {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      .management-tools {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }
      .work-tools {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      .languages {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
      }
    }
    @include m.desktop {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(2, auto) 1fr; /* repeat(3, minmax(0, 1fr)); */
      .frontend {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
      .backend {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      .preferred-stack {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      .others {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
      .management-tools {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
      .work-tools {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }
      .languages {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }
  }
}
