/* specific skill bars */

#html-bar {
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  100% {
    width: 90%;
  }
}

#css-bar {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100% {
    width: 90%;
  }
}

#scss-bar {
  animation: scss-fill 2s forwards;
}
@keyframes scss-fill {
  100% {
    width: 70%;
  }
}

#rtk-bar {
  animation: rtk-fill 2s forwards;
}
@keyframes rtk-fill {
  100% {
    width: 70%;
  }
}

#react-bar {
  animation: react-fill 2s forwards;
}
@keyframes react-fill {
  100% {
    width: 85%;
  }
}

#js-bar {
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100% {
    width: 90%;
  }
}

#nextjs-bar {
  animation: nextjs-fill 2s forwards;
}
@keyframes nextjs-fill {
  100% {
    width: 90%;
  }
}

#nodejs-bar {
  animation: nodejs-fill 2s forwards;
}
@keyframes nodejs-fill {
  100% {
    width: 60%;
  }
}

#express-bar {
  animation: express-fill 2s forwards;
}
@keyframes express-fill {
  100% {
    width: 60%;
  }
}

#mongodb-bar {
  animation: mongodb-fill 2s forwards;
}
@keyframes mongodb-fill {
  100% {
    width: 30%;
  }
}

#php-bar {
  animation: php-fill 2s forwards;
}
@keyframes php-fill {
  100% {
    width: 70%;
  }
}

#laravel-bar {
  animation: laravel-fill 2s forwards;
}
@keyframes laravel-fill {
  100% {
    width: 65%;
  }
}

#git-bar {
  animation: git-fill 2s forwards;
}
@keyframes git-fill {
  100% {
    width: 60%;
  }
}

#scrum-bar {
  animation: scrum-fill 2s forwards;
}
@keyframes scrum-fill {
  100% {
    width: 50%;
  }
}

#linux-bar {
  animation: linux-fill 2s forwards;
}
@keyframes linux-fill {
  100% {
    width: 90%;
  }
}

#wp-bar {
  animation: wp-fill 2s forwards;
}
@keyframes wp-fill {
  100% {
    width: 90%;
  }
}

#c-bar {
  animation: c-fill 2s forwards;
}
@keyframes c-fill {
  100% {
    width: 85%;
  }
}

#sql-bar {
  animation: sql-fill 2s forwards;
}
@keyframes sql-fill {
  100% {
    width: 85%;
  }
}

#spanish-bar {
  animation: spanish-fill 2s forwards;
}
@keyframes spanish-fill {
  100% {
    width: 100%;
  }
}

#english-bar {
  animation: english-fill 2s forwards;
}
@keyframes english-fill {
  100% {
    width: 80%;
  }
}

#portuguese-bar {
  animation: portuguese-fill 2s forwards;
}
@keyframes portuguese-fill {
  100% {
    width: 80%;
  }
}