/* specific skill bars */

#html-css-bar {
  animation: html-css-fill 2s forwards;
}
@keyframes html-css-fill {
  100% {
    width: 90%;
  }
}

#scss-bar {
  animation: scss-fill 2s forwards;
}
@keyframes scss-fill {
  100% {
    width: 70%;
  }
}

#react-bar {
  animation: react-fill 2s forwards;
}
@keyframes react-fill {
  100% {
    width: 90%;
  }
}

#js-bar {
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100% {
    width: 85%;
  }
}

#frontend-frameworks-bar {
  animation: frontend-frameworks-fill 2s forwards;
}
@keyframes frontend-frameworks-fill {
  100% {
    width: 80%;
  }
}

#angular-bar {
  animation: angular-fill 2s forwards;
}
@keyframes angular-fill {
  100% {
    width: 85%;
  }
}

#nodejs-bar {
  animation: nodejs-fill 2s forwards;
}
@keyframes nodejs-fill {
  100% {
    width: 75%;
  }
}

#java-bar {
  animation: java-fill 2s forwards;
}
@keyframes java-fill {
  100% {
    width: 85%;
  }
}

#springboot-bar {
  animation: springboot-fill 2s forwards;
}
@keyframes springboot-fill {
  100% {
    width: 85%;
  }
}

#laravel-bar {
  animation: laravel-fill 2s forwards;
}
@keyframes laravel-fill {
  100% {
    width: 70%;
  }
}

#docker-bar {
  animation: docker-fill 2s forwards;
}
@keyframes docker-fill {
  100% {
    width: 30%;
  }
}

#git-bar {
  animation: git-fill 2s forwards;
}
@keyframes git-fill {
  100% {
    width: 60%;
  }
}

#scrum-bar {
  animation: scrum-fill 2s forwards;
}
@keyframes scrum-fill {
  100% {
    width: 50%;
  }
}

#linux-bar {
  animation: linux-fill 2s forwards;
}
@keyframes linux-fill {
  100% {
    width: 90%;
  }
}

#wp-bar {
  animation: wp-fill 2s forwards;
}
@keyframes wp-fill {
  100% {
    width: 90%;
  }
}

#c-bar {
  animation: c-fill 2s forwards;
}
@keyframes c-fill {
  100% {
    width: 85%;
  }
}

#sql-bar {
  animation: sql-fill 2s forwards;
}
@keyframes sql-fill {
  100% {
    width: 85%;
  }
}

#spanish-bar {
  animation: spanish-fill 2s forwards;
}
@keyframes spanish-fill {
  100% {
    width: 100%;
  }
}

#english-bar {
  animation: english-fill 2s forwards;
}
@keyframes english-fill {
  100% {
    width: 80%;
  }
}

#portuguese-bar {
  animation: portuguese-fill 2s forwards;
}
@keyframes portuguese-fill {
  100% {
    width: 80%;
  }
}